*,
*::after,
*::before {
  box-sizing: border-box;
}
:root{
  --font-general: 'Poppins', sans-serif;
  --font-color-secondary: #a4a4a4
}
body{
  margin: 0;
  font-family: var(--font-general);
}
h1{
  font-weight: 300;
}
.main{
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.subtitle{
  font-weight: 400;
  margin: 10px 0px;
  color: var(--font-color-secondary);
}

/* LEFT */
#main-icon{
  width: 250px;
}
.main__current{
  width: 63%;
  display: flex;
  flex-direction: column;
}
.main__current--city{
  background-color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.main__current--city h1, h2{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.main__current--forecast{
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 15px;
  margin-bottom: 30px;
  color: var(--font-color-secondary);
  padding: 30px;
}
.main__current--forecast--hours{
  display: flex;
}
.main__current--forecast--hours--box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-right: 5px;
  border-radius: 10px;
  padding: 10px 0px;
}
.main__current--forecast--hours--box h4, h3{
  margin: 0;
}
.main__current--others{
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 30px;
  color: var(--font-color-secondary);
}


/* RIGHT */
.main__forecast{
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 15px;
}
.main__current--others--container{
  display: flex;
  justify-content: space-around;
}
.main__forecast--box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main__forecast--box img{
  width: 100px;
}