*,
*::after,
*::before {
  box-sizing: border-box;
}
:root{
  --font-general: 'Poppins', sans-serif;
  --bg-color: linear-gradient(335deg,#715ae9,#8cf2ff,#ae9eff);
  --font-color-secondary: #959ba3;
  --main-box-bg: #ffffff7d;
  --box-bg: #ffffff;
  --text-color: #000;
  --subtitle-color: #4d4d4d;
  --border-color: #ffffffad;
}
.dark-mode{
  --bg-color: linear-gradient(335deg,#483b88,#000000,#483b88);
  --font-color-secondary: #ffffff;
  --main-box-bg: #3939397d;
  --box-bg: #131313;
  --text-color: #ffffff;
  --subtitle-color: #ffffff;
  --border-color: #ffffff38;
}
body{
  margin: 0;
  font-family: var(--font-general);
  background: var(--bg-color);
  height: 100vh;
}
h1{
  font-weight: 300;
}
img{
  animation: fadeInUp .5s cubic-bezier(0.54, 0.01, 1, 0.48);
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
h1, h2, h3, h4{
  animation: fadeInUp .5s cubic-bezier(0.54, 0.01, 1, 0.48);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.wrapper{
  width: 100%;
  max-width: 1600px;
  display: flex;
  margin: auto;
  position: relative;
  top: 100px;
  gap: 25px;
}
.nav-bar{
  width: 10%;
  background-color: var(--main-box-bg);
  border-radius: 30px;
  padding-top: 20px;
  box-shadow: 6px 8px 22px 0 #3636364f;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid var(--border-color);
}
.logo{
  display: flex;
  justify-content: center;
  transform: rotate(45deg);
  margin-bottom: 100px;
}
.logo img{
  width: 50px;
  filter: saturate(4);
}
.cities{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cities__city{
  background-color: #ffffff;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 20px 0 #36363624;
  transition: 0.2s ease-in;
}
.cities__city:hover{
  scale: 0.95;
  cursor: pointer;
  box-shadow: 0px 0px 2px 0 #36363624;
}
.cities__city img{
  width: 60px;
}
.cities__city h4{
  margin: 0;
  font-weight: 600;
}

.main{
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 30px;
  padding: 25px;
  background-color: var(--main-box-bg);
  box-shadow: 6px 8px 22px 0 #3636364f;
  z-index: 1;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid var(--border-color);
}
.subtitle{
  font-weight: 400;
  margin: 10px 0px;
  color: var(--subtitle-color);
}
.light{
  font-weight: 400;
}
.bold{
  font-weight: 600;
}
.main--img{
  width: 300px;
  filter: drop-shadow(3px 7px 100px lightgray);
}
.forecast--img{
  width: 100px;
}
.floating-img{
  left: calc(10vw + 100px);
  position: absolute;
  top: 0;
}

/* LEFT */
.main__current{
  width: 63%;
  display: flex;
  flex-direction: column;
}
.main__current--city{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}
.main__current--city h1, h2{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.main__current--forecast{
  display: flex;
  flex-direction: column;
  background-color: var(--box-bg);
  border-radius: 15px;
  margin-bottom: 30px;
  color: var(--font-color-secondary);
  padding: 30px;
  box-shadow: 3px 3px 20px 0 #36363624;
}
.main__current--forecast--hours{
  width: 100%;
  display: flex;
}
.main__current--forecast--hours--box{
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border-radius: 10px;
  padding: 10px 0px;
}
.main__current--forecast--hours--box h3{
  color: var(--text-color);
}
.main__current--forecast--hours--box h4, h3{
  margin: 0;
}
.main__current--others{
  display: flex;
  flex-direction: column;
  background-color: var(--box-bg);
  border-radius: 15px;
  padding: 30px;
  color: var(--font-color-secondary);
  box-shadow: 3px 3px 20px 0 #36363624;
}
.main__current--others--container{
  display: flex;
  justify-content: space-around;
}
.main__current--others--box{
  display: flex;
  align-items: center;
  width: 30%;
  gap: 10px;
}
.main__current--others--box h3{
  color: var(--text-color);
}
.main__current--others--box img{
  width: 35px;
}


/* RIGHT */
.main__forecast{
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--box-bg);
  border-radius: 15px;
  color: var(--font-color-secondary);
  box-shadow: 3px 3px 20px 0 #36363624;
  position: relative;  
}
.main__forecast--box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 0px;
}
.main__forecast--box img{
  width: 100px;
}
.sky{
  color: var(--text-color);
  font-weight: 600;
}

/* DARK MODE */
.btn-dark-mode{
  max-width: 125px;
  margin: auto;
  height: 100px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 50px;
}
.button-input{
  display: none;
}
.btn-switch{
  width: 80px;
  height: 40px;
  border-radius: 30px;
  background-color: #767fe9;
  position: relative;
  transition: background-color 0.3s;
}
.btn-switch::after{
  content: '';
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: left 0.3s;
}
.button-input:checked + .btn-switch{
  background-color: #545454;
  transition: background-color 0.3s;
}
.button-input:checked + .btn-switch::after{
  left: 45px;
  transition: left 0.3s;
  box-shadow: 1px 2px 7px 0px #b5b5b5
}
.claim{
  display: none;
}


/* ANIMATIONS */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 767px) {
  body{
    height: auto;
  }
  h2{
    margin-top: 0px;
  }
  .wrapper{
    width: 90%;
    flex-direction: column;
    top: 60px;
    margin-bottom: 100px;
  }
  .main{
    width: 100%;
    flex-direction: column;
  }
  .nav-bar{
    width: 100%;
  }
  .logo{
    display: none;
  }
  .main__current{
    width: 100%;
    margin-bottom: 30px;
  }
  .main__current--city{
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 30px 30px 30px;
  }
  .cities{
    flex-direction: row;
    justify-content: space-evenly;
  }
  .cities__city{
    width: 25%;
  }
  .main--img{
    width: 235px;
  }
  #info-main{
    text-align: center;
  }
  .main__current--forecast--hours{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__current--forecast--hours--box{
    width: 47%;
  }
  .main__current--others--container{
    flex-direction: column;
  }
  .main__current--others--box{
    width: 100%;
  }
  .main__forecast{
    width: 100%;
    padding-bottom: 100px;
  }
  .btn-dark-mode{
    right: 50%;
    transform: translateX(50%);
  }
  .claim{
    display: flex;
    width: 100%;
    padding-left: 30px;
  }
  .claim h1{
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 1.5rem;
  }

}