*,
*::after,
*::before {
  box-sizing: border-box;
}
:root{
  --font-general: 'Poppins', sans-serif;
  --font-color-secondary: #959ba3;
}
body{
  margin: 0;
  font-family: var(--font-general);
  background-color: lightskyblue;
}
h1{
  font-weight: 300;
}
.main{
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 30px;
  padding: 25px;
  background-color: #f5f5f5;
  position: relative;
  top: 100px;
  box-shadow: 7px 8px 22px 0px #3636364f;
}
.subtitle{
  font-weight: 400;
  margin: 10px 0px;
  color: var(--font-color-secondary);
}

/* LEFT */
#main-icon{
  width: 250px;
}
.main__current{
  width: 63%;
  display: flex;
  flex-direction: column;
}
.main__current--city{
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.main__current--city h1, h2{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.main__current--forecast{
  display: flex;
  flex-direction: column;
  background-color: #eaecef;
  border-radius: 15px;
  margin-bottom: 30px;
  color: var(--font-color-secondary);
  padding: 30px;
}
.main__current--forecast--hours{
  width: 100%;
  display: flex;
}
.main__current--forecast--hours--box{
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gainsboro;
  margin-right: 5px;
  border-radius: 10px;
  padding: 10px 0px;
}
.main__current--forecast--hours--box h3{
  color: black;
}
.main__current--forecast--hours--box h4, h3{
  margin: 0;
}
.main__current--others{
  display: flex;
  flex-direction: column;
  background-color: #eaecef;
  border-radius: 15px;
  padding: 30px;
  color: var(--font-color-secondary);
}
.main__current--others--container{
  display: flex;
  justify-content: space-around;
}


/* RIGHT */
.main__forecast{
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #eaecef;
  border-radius: 15px;
  color: var(--font-color-secondary)
}
.main__forecast--box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 0px;
}
.main__forecast--box img{
  width: 100px;
}
.sky{
  color: black
}